{% extends 'base.html.twig' %}

{% block title %}Hello OrthophonieController!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col">
			<div class="bg-light me-md-3 mx-auto  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">

				<div class="my-3 p-3">

					<h2 class="display-5">Qu'est-ce que l'orthophonie ?</h2>
					<p class="lead"></p>

					<p>
						L’orthophonie est une discipline thérapeutique qui vise à soigner les troubles du langage écrit et oral. Dans cette fiche, vous découvrirez cette discipline plus en détails, en quoi consiste un bilan orthophonique, quels sont les troubles que l’orthophonie permet de soigner, comment se déroule une séance, comment devenir orthophoniste et enfin, quelles sont les contre-indications.?
					</p>
					<p>
						Provenant des mots "ortho" qui signifie "droit" et phonie" qui veut dire "voix", l’orthophonie est une discipline paramédicale parfois appelée logopédie qui permet la prise en charge des troubles du langage écrit et oral et plus largement des troubles de la communication. L'orthophoniste s'occupe également des troubles de l'audition, de la voix et de la déglutition. Il détecte, évalue et propose une prise en charge de ces troubles.
					</p>
					<p>
						L'objectif global de l'orthophonie est que la personne prise en charge communique mieux, à l'écrit ou à l'oral. Cela peut passer dans certains cas non pas par une rééducation mais par des stratégies palliatives comme l'utilisation de l'informatique en cas de paralysies par exemple.
					</p>
					<div class="my-3 p-3">
						<h2 class="display-5">Le bilan orthophonique</h2>
						<p>

							Le bilan orthophonique vise à mettre en exergue la nature des troubles du patient afin de déterminer comment les régler. Il ne peut être effectué que sur prescription médicale, et par un orthophoniste.
																				
														
																				
																					En premier lieu, l'orthophoniste va tout d'abord s'entretenir avec son patient (et sa famille, si c’est un enfant). Cet entretien consistera à réaliser l’anamnèse de l’individu, à l’aide de différentes questions sur sa vie, son développement et sa plainte. En fonction de ces premiers résultats, le praticien sélectionnera ensuite les tests et les protocoles les plus adaptés afin de déterminer les troubles présents. Ces tests viseront à explorer les compétences langagières du patient, que ce soit au niveau du langage oral ou écrit. Ils serviront également à mesurer les habiletés cognitives, à travers des exercices de mémoire, d'attention ou de repérage dans le temps. Une fois l'évaluation terminée, l'orthophoniste posera un diagnostic au sein duquel il pourra proposer une série d'examens complémentaires.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Les bienfaits de l'orthophonie</h2>
						<p>

							Troubles du langage écrit
																																							L'orthophonie peut contribuer au traitement de la dyslexie et de la dysorthographie, qui sont les deux principaux troubles du langage écrit. Les objectifs peuvent consister à aider l'individu à acquérir le principe alphabétique, la morphologie, la segmentation et à faire le lien entre l'oral et l'écrit.
						</p>
					</div>

					<div class="my-3 p-3">
						<h2 class="display-5">Troubles du langage oral</h2>
						<p>

							Les orthophonistes prennent en charge le bégaiement, le zozotement et autres défauts de prononciation mais aussi, et plus largement, les troubles de la parole, du langage. Ils s'occupent également des personnes souffrant d'une perte de langage après un accident ou à cause d'une maladie. Ainsi, dans la maladie de Parkinson, les séances d'orthophonie permettent de prendre en charge les troubles du langage dus à une articulation rendue difficile par la maladie.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Troubles d’apprentissage</h2>
						<p>

							L’orthophonie joue un rôle primordial dans la prise en charge des troubles de l'apprentissage de la lecture comme par exemple la dyslexie. Elle peut également aider les enfants qui n'acquièrent pas un raisonnement logique, qui ont un retard de langage ou qui ont des difficultés à apprendre à lire, et à parler.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Troubles de l’audition</h2>
						<p>

							Le trouble de traitement auditif peut être amélioré à l'aide de l'orthophonie grâce à des exercices visant à rééduquer le langage oral de manière à améliorer la communication de l'individu avec autrui. Cela peut être réalisé en travaillant l’attention et les capacités de compréhension du patient.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Troubles de la déglutition</h2>
						<p>

							Suite à certaines maladies neurologiques, des troubles de la déglutition peuvent apparaître car certains muscles sont touchés. L'orthophonie peut aider à trouver des stratégies compensatoires afin d'améliorer la déglutition.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">L’orthophonie en pratique</h2>
						<p>

							Le spécialiste
																																							L'orthophoniste, qui suit principalement des enfants, exerce dans un cabinet privé, en libéral ou au sein d'une structure hospitalière, d'un centre de réadaptation ou d'un établissement spécialisé. Il peut également évoluer dans un établissement scolaire.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Déroulé d'une séance</h2>
						<p>


							Les orthophonistes interviennent dans de nombreux domaines, à tous les âges de la vie. Ils réalisent avant le début de la prise en charge une évaluation basée sur l'observation clinique, puis un diagnostic. A l’issue de ce diagnostic, des séances de rééducation sont proposées. Leur nombre, leur durée et leur nature varient grandement en fonction du trouble. Ainsi, une séance peut durer 30 minutes s’il s’agit d’un trouble de l’articulation, à 1 heure s’il est question d’un trouble handicapant tel que la surdité. Pour un trouble mineur, quelques séances peuvent suffire. En revanche, pour un trouble plus prononcé, les séances peuvent s'étaler sur plusieurs années, en fonction des progrès et de l'évolution de la personne suivie. Quant aux exercices, ils sont tous adaptés au trouble, et dépendent également de l’âge du patient. En cas par exemple de troubles de l'apprentissage de la lecture, les séances d'orthophonie sont basées sur des exercices ludiques, à répéter de nombreuses fois.
						</p>
					</div>
					<div class="my-3 p-3">
						<h2 class="display-5">Devenir orthophoniste</h2>
						<p>

							Tout comme les études de médecine, les études d'orthophonie sont sujettes à un numerus clausus. Cela signifie que le nombre d’étudiants acceptés en première année est limité chaque année. Il existe en France 19 écoles qui délivrent la certification de capacité d'orthophoniste au bout de cinq ans d'études. La sélection sur concours est difficile puisque seulement 5% à 10% de candidats sont reçus. La formation comporte des cours généraux (anatomie, physiologie, neurologie, etc) et spécifiques (phonétiques, linguistique…) ainsi que des stages pratiques effectués à la fin de chaque année.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
