{% extends 'base.html.twig' %}

{% block title %}Se connecter sur boo
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/login/loginhome.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container full-height">
		<div class="row">
			<div class="col"></div>
			<div class="col pt-5">
				<h1 class="display-3 text-white">Identifiez-vous</h1>
				{% include "security/login-form.html.twig" %}

			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
