{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}

	<link href="{{ asset('css/login/loginhome.css') }}" rel="stylesheet"/>
	<div class="main">

		<div class="container">
			<center>
				<div class="middle">
					<div id="login">
						<fieldset class="clearfix">

							<h1 class="text-dark">Réinitialisation du mot de passe</h1>
							<p class="text-dark">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
							<form method="post">
								<label for="inputPassword" class="text-dark"></label>
								<input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
								<input type="hidden" name="token" value="{{ token }}">
								<button class="btn btn-danger" type="submit" id="valider">
									Valider le mot de passe
								</button>
							</form>
						</fieldset>
						<div class="clearfix"></div>


						<div class="clearfix"></div>

					</div>
					<!-- end login -->
					<div class="logo">
						<img src="{{ asset('img/logo_boo2.png') }}" alt="LOGO" width="200" height="200"/>

						<div class="clearfix"></div>
					</div>

				</div>
			</center>
		</div>
	</div>


{% endblock %}
