{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/login/loginhome.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div class="container full-height">
		<div class="row">
			<div class="col"></div>
			<div class="col pt-5">
				<h1 class="display-3 text-white">Réinitialisation du mot de passe</h1>
				<p class="text-white">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
				<form method="post">
					<label for="inputPassword" class="text-white"></label>
					<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Nouveau mot de passe" required>
					<input type="hidden" name="token" value="{{ token }}"></br>
			</br>
			<button class="btn btn-light" type="submit" id="valider">
				Valider
			</button>
		</form>

	</div>
</div></div>{% endblock %}
