{% extends 'base.html.twig' %}

{% block title %}Hello QuisommenousController!
{% endblock %}

{% block body %}

	<div class="container" style="margin-top: 50px;">

		<div class="jumbotron">


			<h1 class="display-3">Qui sommes nous ?</h1>


			<p class="lead">Boo est un site web de jeux éducatifs professionnels à destination des enfants.
			</p>
			<hr class="my-4">
			<p class="text-success">Depuis quelques années, le développement des neurosciences et l’expansion du monde numérique ont ouvert un nouveau chapitre dans le secteur de la santé cognitive, au sein duquel Boo affiche de fortes ambitions thérapeutiques.</p>
			<p class="text-info">L'orthophoniste a pour mission la rééducation et le maintien des capacités de langage oral et écrit de ses patients. Il rencontre des enfants mais aussi des personnes âgées perturbés dans leur communication (troubles du langage ou de l'expression).</p>
			<p class="text-warning">Bienvenue sur notre site et bonne découverte de notre solution.</p>
		</div>
	</div>
{% endblock %}
