{% extends 'base.html.twig' %}

{% block title %}Hello QuisommenousController!{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px;">

<div class="jumbotron">

		
  <h1 class="display-3">Qui sommes nous ?
</h1>
  
 
  <p class="lead">Boo est un site web de jeux éducatifs professionnels à destination des enfants. </p>
  <hr class="my-4">
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ path('monprofil') }}" role="button">Learn more</a>
  </p>
</div>
</div>
{% endblock %}
