{% extends 'base.html.twig' %}

{% block title %}Modifier Jeux
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/bg1.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	<div class="container full-height mb-5 mt-5 ">
		<h1 class="text-center mt-5 mb-5 ">Modifier Jeux</h1>

		{{ include('evaluationCRUD/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a class="btn btn-light" style=" color: #333 !important" href="{{ path('jeux_index') }}">Revenir à la liste</a>

		{{ include('evaluationCRUD/_delete_form.html.twig') }}
	</div>
{% endblock %}

{% block footer %}{% endblock %}
