{% extends 'base.html.twig' %}

{% block title %}Modifier jeux uploader
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/bg1.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<div class="container">
		<h1>Modifier jeux uploader</h1>

		{{ include('admingame/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('upload_game_index') }}" class="btn btn-light" style=" color: #333 !important" role="button">Revenir</a>

		{{ include('admingame/_delete_form.html.twig') }}
	</div>
{% endblock %}

{% block footer %}{% endblock %}
