{% extends 'base.html.twig' %}

{% block title %}Ajouter un Jeu
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/bg1.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	<div class="container mb-5 mt-5 ">
		<h1 class="text-center mt-5 mb-5 ">Ajouter un Jeu</h1>


		{{ include('admingame/_form.html.twig') }}


		<a class="btn btn-primary " href="{{ path('upload_game_index') }}">Revenir</a>

	</div>
{% endblock %}

{% block footer %}{% endblock %}
