{% extends 'base.html.twig' %}

{% block title %}Patient
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/espace.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="container full-height">
		<h1 class="text-center mt-5">Ajouter un patient</h1>

		{{ form(form) }}

		</div>
	{% endblock %}

	{% block footer %}{% endblock %}
