h1,
h2 {
    text-align: center;
}
div.container {
    text-align: center;
    margin: auto;
    padding: 8px;
}
body {
    background: lightblue;
}
div.memory {
    width: 900px;
    margin: auto;
    padding: 12px;
    display: grid;
    background: linear-gradient(45deg,#F10C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
img {
    width: 100%;
    height: 250px;
}
div span {
    height: 250px;
}