{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<link href="{{ asset('css/loginhome.css') }}" rel="stylesheet"/>
<div class="main">
    <div class="container">
      <center>
        <div class="middle">
              <div id="login">

                <form action="{{ path('app_login') }}" method="post">

                  <fieldset class="clearfix">

                    <p><span class="fa fa-user"></span><input type="text"  name="_email" Placeholder="Username" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fa fa-lock"></span><input type="password" name="_password" Placeholder="Password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                    
                    <div>
                      <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                       password?</a></span>
                      <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                    </div>

                  </fieldset>
        <div class="clearfix"></div>
                </form>

                <div class="clearfix"></div>

              </div> <!-- end login -->
              <div class="logo">LOGO
                  
                  <div class="clearfix"></div>
              </div>
              
              </div>
      </center>
  </div>
</div>
{% endblock %}
