{% extends 'base.html.twig' %}

{% block title %}Edit Jeux{% endblock %}

{% block body %}
    <h1>Edit Jeux</h1>

    {{ include('jeux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jeux_index') }}">back to list</a>

    {{ include('jeux/_delete_form.html.twig') }}
{% endblock %}
