{% extends 'base.html.twig' %}

{% block title %}New Jeux{% endblock %}

{% block body %}
    <h1>Create new Jeux</h1>

    {{ include('jeux/_form.html.twig') }}

    <a href="{{ path('jeux_index') }}">back to list</a>
{% endblock %}
