{% extends 'base.html.twig' %}

{% block title %}Ajouter un score
{% endblock %}

{% block body %}

	<div class="container mb-5 mt-5 bg-light">
		<h1 class="text-center mt-5 mb-5 ">Ajouter un score</h1>

		{{ include('jeux/_form.html.twig') }}

		<a class="btn btn-primary" href="{{ path('jeux_index') }}">back to list</a>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
