{% extends 'base.html.twig' %}

{% block title %}Evaluation
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/home-evaluation.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="container mb-5 mt-5 ">
		<h1 class="text-center mt-5 mb-5">Ajouter une evaluation</h1>

		{{ form(form) }}

		</div>

	{% endblock %}

	{% block footer %}{% endblock %}
