{% extends 'base.html.twig' %}

{% block title %}Evaluation
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/home-evaluation.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="container full-height m-5 text-white ">
		<h1 class="text-center display-3 ">Ajouter une evaluation</h1>

		{{ form(form) }}

		</div>

	{% endblock %}

	{% block footer %}{% endblock %}
