{% extends 'base.html.twig' %}

{% block title %}Contacter administrateur
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/contact.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div class="container my-5 py-5">
		{% for message in app.flashes('message') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="example-wrapper">
			<h1 class="text-center my-3">Contacter l'administrateur du site</h1>

			<div class="my-5 py-5">
				{{ form(contact_formulaire) }}


				</div>
			</div>
		</div>
	{% endblock %}

	{% block footer %}{% endblock %}
