{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
	    {% for message in app.flashes('message') %}
       		<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
    	{% endfor %}
<div class="example-wrapper">
    <h1 class="text-center">Contacter l'administrateur du site </h1>
    {{ form(contact_formulaire) }}


</div>
{% endblock %}
