<footer class="container-fluid py-2 mt-2 mx-auto bg-danger">
	<div class="row">
		<div class="col-md-5">
			<img src="{{ asset('img/ghost128px.png') }}" width="64" height="64" alt="logo boo footer " loading="lazy">

			<p style="margin-right: 40px;">
				L’expansion du monde numérique ont ouvert un nouveau chapitre dans le secteur de la santé cognitive, au sein duquel Boo affiche de fortes ambitions thérapeutiques.</p>
			<small class="d-block mb-3 text-muted">&copy; 2020</small>
		</div>
		<div class="col-md-2 ">
			<h4>Contact</h4>
			<h6>
				<i class="fas fa-map-marker-alt"></i>
				Villa Adrienne, 75014 Paris France</h6>
			<h6>
				<i class="fas fa-phone"></i>
				Phone: +33 632 12 68 47</h6>
			<h6>
				<i class="fas fa-envelope"></i>
				Email:
				<a href="mailto:admin@said-rahab.fr">Admin@said-rahab.fr</a>
			</h6>
			<h6>
				<i class="fab fa-discord"></i>
				Discord: Said rahab#2866</h6>
		</div>
		<div class="col-md-2">

			<h4>About</h4>
			<ul class="list-unstyled text-small">
				<li>
					<a class="link-secondary" href="{{ path('developpeurinfo') }}">Developpeur? Par ici!</a>
				</li>
				<li>
					<a class="link-secondary" href="https://www.privacypolicies.com/live/9f6a1542-18d1-42ef-b174-06304302e41b">Privacy</a>
				</li>
				<li>
					<a class="link-secondary" href="{{ path('mentionslegal') }}">Mentions legal</a>
				</li>
			</ul>

		</div>

		<div class="col-md-2">
			<h4>Follow us</h4>
			<p>
				<a href="#">
					<i class="fab fa-facebook px-1"></i>
				</a>
				<a href="#">
					<i class="fab fa-twitter px-1"></i>
				</a>
				<a href="#">
					<i class="fab fa-google-plus-g px-1"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram px-1"></i>
				</a>
				<a href="#">
					<i class="fab fa-pinterest px-1"></i>
				</a>
			</p>
		</div>
	</div>

</footer>
