{% extends 'base.html.twig' %}

{% block title %}New UploadGame{% endblock %}

{% block body %}

<div class="container">
    <h1>Ajouter un Jeu</h1>
    
  <div class="container container-fluid">

    {{ include('upload_game/_form.html.twig') }}
    

    <a href="{{ path('upload_game_index') }}">back to list</a>
</div>
    </div>
{% endblock %}
