{% extends 'base.html.twig' %}

{% block title %}New UploadGame{% endblock %}

{% block body %}
    <h1>Create new UploadGame</h1>

    {{ include('upload_game/_form.html.twig') }}

    <a href="{{ path('upload_game_index') }}">back to list</a>
{% endblock %}
