{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}


{% block stylesheets %}
	<link href="{{ asset('css/bg1-alt.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	<div class="container full-height text-white">
		<h3 class="display-3 m-5">Conditions générales d’utilisation
		</h3>
		<p>L’utilisation du site Boo implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site</p>
		<p>Boo	sont donc invités à les consulter de manière régulière.
		</p>
		<p>
			Les serveurs de Boo sont situés en France nous ne transférons donc pas de données en dehors de l’union européenne.</p>
		Pour pouvoir utiliser le site Boo, l'utilisateur doit posséder un ordinateur et un accès au réseau Internet (connexion physique et abonnement chez un fournisseur d'accès).
	</p>
	<p>Les frais afférents à ces éléments sont à la charge exclusive de l'utilisateur.</p>
	<p>
		Inscription : 
																						
																						L'utilisateur est inscrit lorsqu'il a correctement rempli le formulaire d'inscription. A cette occasion, il renseigne une adresse email et un mot de passe ,numero ADELI.
																						
																						Ces données sont personnelles et confidentielles. L'utilisateur en est seul responsable et s'engage à ne pas les divulguer.
	</p>
	<p>
		L'accès ultérieur aux services du site Boo nécessite l'utilisation de l'identifiant et du mot de passe.
																						
																						Sur chaque formulaire d'inscription, l'utilisateur est informé du caractère facultatif ou obligatoire des données personnelles demandées, conformément à la Loi Informatique et Libertés du 6 janvier 1978.
																						
																						Des mentions légales sont disponibles sur le site.
	</p>
</div>{% endblock %}
