{% extends 'base.html.twig' %}

{% block title %}
	Developpeur!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			<div class="bg-light me-md-3 mx-auto  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">

				<div class="my-3 p-3">
					<h2 class="display-5">Pour les developpeurs</h2>
					<p class="lead">Vous voulez participez à la plateforme Boo?</p>
					<p>Veuillez nous transmettre par le formulaire de contact , l'url sur laquelle votre jeu est disponible.
					</p>
					<p>Prenez soin de mettre à notre disposition dans votre js associé les lignes suivantes:
						<div class="container text-success">
							$('#modalgagner').modal('show');
						parent.postMessage(JSON.stringify({
            'game_name' : 'TITRE DE VOTRE JEU',
            'author' : 'VOTRE NOM',
            'score' : VALEUR DU SCORE
        })</div>

					</p>
				</div>
				<div class=" mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
			</div>
		</div>
	</div>
{% endblock %}
