{% extends 'base.html.twig' %}

{% block title %}Hello PlayController!
{% endblock %}

{% block body %}

	<iframe src="/" frameborder="0" style="overflow: hidden; height: 100%;width: 100%; position: absolute;" id="iframe"></iframe>

	<!-- Modal gagner -->
	<div class="modal fade" id="modalgagner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">Jeu de memoire
					</h2>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Evaluation de l'orthophoniste
					<div id="txtmodalgagner" data="" class="p-3 mb-2 text-white"></div>
					<div id="divCheckbox">
						{{ form(form) }}
						</div>
					</div>
					<div class="modal-footer">
						<input id="rejouer" type="button" class="btn btn-danger" onclick="refresh()" value="Rejouer">

					</div>
				</div>
			</div>
		</div>

		<script>

			console.log(document.getElementById("footer"))
iframe.onload = function () {
let iframeWindow = iframe.contentWindow;
try {
let doc = iframe.contentDocument;
} catch (e) {
alert(e);
}


try {
let href = iframe.contentWindow.location.href;
} catch (e) {
alert(e);
}

iframe.contentWindow.location = '{{ url }}';
iframe.onload = null;
};

window.addEventListener('message', function (e) {
let objet = JSON.parse(e.data)
$('#modalgagner').modal('show');


document.getElementById('evaluation_Score').setAttribute("value", objet['score']);
document.getElementById('evaluation_Titre').setAttribute("value", objet['game_name']);

document.getElementById('evaluation_Score').setAttribute("readonly", "readonly");
document.getElementById('evaluation_Titre').setAttribute("readonly", "readonly");

}, false);
		</script>

	{% endblock %}
